html, body {
    margin: 0;
    padding: 0;
}

header{
    background-color: #729aa7;
    padding: 15px;
    color: #fff;
    text-align: center;

}
header h1 {
    margin-top: 0;
}
.btn {
    text-decoration: none;
    background-color: #706f6f;
    padding: 5px 20px;
    border-radius: 30px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #5e7f8a;
}
.container {
    padding: 16px;
    background-color: #f4f4f4;
}

section {
    background-color: #fff;
    padding: 5px 16px 16px 16px;
    border-radius: 5;
    margin: 16px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}
.last {
    margin-bottom: 70px;
}
h2 {
    border-bottom: 2px solid #729aa7; /* solid é a linha*/
    padding-bottom: 8px;
}
footer {
    background-color: #729aa7;
    padding: 5px;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%
}