body{
    margin: 0 auto;
    background-image:-moz-linear-gradient(#7A50B4) ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
    /* -------------Não consegui finalizar------------ */